body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ************ */
/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
  height: 4rem;
}

.logo {
  font-size: 2rem;
}

nav {
  width: 30rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: #0dac30;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.reachUs-button {
  padding: 1rem;
  background-color: #0dac30;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.reachUs-button:hover{
  background-color: #1ac840;
}

/*  **************/
.home {
  background: #eff0ef;
  width: 100vw;
  /* height: 100vh; */
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.social {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  background: whitesmoke;
  border: 1px solid black;
  border-width: thin;
  border-radius: 10px;
}
.social a {
  margin: 10px;
  font-size: 20px;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 50%;
  color: #04aa6d;
}
.social a i:hover {
  color: #010d09;
  border: none;
}
.info {
  display: block;
}
.info h4 {
  font-size: large;
}
.info h1 {
  font-size: 30px;
}
.info p {
  font-size: 17px;
  color: rgb(98, 97, 97);
}
.option {
  display: block;
  margin: 20px;
}
button {
  margin: 10px;
}
.btn2 {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 50px;
  background: #125a40;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.btn2:hover {
  background: whitesmoke;
  color: black;
}

.img {
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

/* ************* */
.About h3 {
  font-size: 30px;
  display: flex;
  justify-content: center;

  transition: 0.6s;
}
h3 {
  padding: 1px;
}
.About h3:hover {
  text-decoration: underline 1px;
}
.abt {
  height: 94vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img {
  margin: 0px 50px;
}
/* ***** */
/* skills */

.skill {
  height: 95vh;
  width: 100vw;
  background: rgb(202, 217, 194);
}
.skill h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  transition: 0.6s;
}
.boxm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.info2 {
  position: relative;
  align-items: center;
  justify-content: center;
  display: block;
  height: 330px;
  width: 340px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 14%;
  margin-right: 27px;
  padding: 10px;
}
.profile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  /* height: 4px; */
  /* width: 40px; */
  margin-left: 35%;
}
.profile img {
  font-size: 10px;
  align-items: center;
  padding: 10px;
  background: whitesmoke;
  border-radius: 20px;
}
.vl {
  border-left: 3px solid rgb(54, 54, 53);
  height: 300px;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.bars {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: large;
  height: 300px;
  width: 320px;
  margin-right: 17%;
  margin-top: 10%;
  font-weight: 600;
}









/* banner section styles */
.banner {
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.banner img {
  max-width: 100%;
  height: auto;
}
/* Contact form styles */
.contact-form {
  padding: 40px 0;
  margin: 0 10px;
}

.form-container {
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px  lightgreen;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-container label {
  display:block;
  font-weight: bold;
}
.form-container input, textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}
.submit-button {
  padding: 10px 20px;
  background-color: #0dac30;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

/* Contact info styles */
.contact-info {
  text-align: center;
  padding: 50px 0;
  background-color: #f7f7f7;
}

.contact-info h2 {
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: white;
}
/* Hamburger styles */
.hamburger {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 800px) {
  .logo {
      display: none;
  }

  .hamburger {
      display: flex;
  }

  #nav-menu {
      position: absolute;
      top: 4rem;
      left: 0;
      background-color: #333;
      width: 100%;
      display: none;
  }

  #nav-menu.active {
      display: block;
      flex-direction: row;
      padding: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav h3:hover {
    color: #04aa6d;
    border: 2px solid white;
    padding: 3px 5px;
  }
  .home {
    flex-direction: column;
  }
  .social {
    flex-direction: row;
    border: none;
  }
  .social a {
    font-size: 22px;
  }

  .abt {
    height: 120vh;
    flex-direction: column;
  }
  .abt {
    height: 600px;
  }

  .skill {
    height: 800px;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .boxm {
    flex-direction: column;
  }

  .vl {
    display: none;
  }
  .info2 {
    margin: 20px 0;
  }
}
